# Auto detect text files and perform LF normalization
* text=auto
cycle_28.jpg filter=lfs diff=lfs merge=lfs -text
cycle_29.jpg filter=lfs diff=lfs merge=lfs -text
hafta4.m filter=lfs diff=lfs merge=lfs -text
cycle_25.jpg filter=lfs diff=lfs merge=lfs -text
cycle_27.jpg filter=lfs diff=lfs merge=lfs -text
cycle_3.jpg filter=lfs diff=lfs merge=lfs -text
cycle_8.jpg filter=lfs diff=lfs merge=lfs -text
cycle_1.jpg filter=lfs diff=lfs merge=lfs -text
cycle_15.jpg filter=lfs diff=lfs merge=lfs -text
cycle_22.jpg filter=lfs diff=lfs merge=lfs -text
cycle_21.jpg filter=lfs diff=lfs merge=lfs -text
cycle_23.jpg filter=lfs diff=lfs merge=lfs -text
cycle_26.jpg filter=lfs diff=lfs merge=lfs -text
cycle_30.jpg filter=lfs diff=lfs merge=lfs -text
cycle_32.jpg filter=lfs diff=lfs merge=lfs -text
cycle_18.jpg filter=lfs diff=lfs merge=lfs -text
cycle_2.jpg filter=lfs diff=lfs merge=lfs -text
cycle_20.jpg filter=lfs diff=lfs merge=lfs -text
cycle_9.jpg filter=lfs diff=lfs merge=lfs -text
cycle_41.jpg filter=lfs diff=lfs merge=lfs -text
cycle_10.jpg filter=lfs diff=lfs merge=lfs -text
cycle_13.jpg filter=lfs diff=lfs merge=lfs -text
cycle_4.jpg filter=lfs diff=lfs merge=lfs -text
cycle_39.jpg filter=lfs diff=lfs merge=lfs -text
README.md filter=lfs diff=lfs merge=lfs -text
cycle_14.jpg filter=lfs diff=lfs merge=lfs -text
cycle_36.jpg filter=lfs diff=lfs merge=lfs -text
cycle_38.jpg filter=lfs diff=lfs merge=lfs -text
cycle_6.jpg filter=lfs diff=lfs merge=lfs -text
cycle_11.jpg filter=lfs diff=lfs merge=lfs -text
cycle_12.jpg filter=lfs diff=lfs merge=lfs -text
cycle_40.jpg filter=lfs diff=lfs merge=lfs -text
cycle_34.jpg filter=lfs diff=lfs merge=lfs -text
cycle_35.jpg filter=lfs diff=lfs merge=lfs -text
cycle_37.jpg filter=lfs diff=lfs merge=lfs -text
cycle_5.jpg filter=lfs diff=lfs merge=lfs -text
cycle_16.jpg filter=lfs diff=lfs merge=lfs -text
cycle_24.jpg filter=lfs diff=lfs merge=lfs -text
cycle_33.jpg filter=lfs diff=lfs merge=lfs -text
cycle_7.jpg filter=lfs diff=lfs merge=lfs -text
hafta4.asv filter=lfs diff=lfs merge=lfs -text
cycle_17.jpg filter=lfs diff=lfs merge=lfs -text
cycle_19.jpg filter=lfs diff=lfs merge=lfs -text
cycle_31.jpg filter=lfs diff=lfs merge=lfs -text
